.App {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
}

h1.Title {
  font-family: monospace;
  text-transform: uppercase;
  margin: 0;
  padding-block-start: 0.5em;
  padding-block-end: 0.5em;
}
