body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s linear;
}

*:not(img) {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #6e6e6e;
  padding: 2px 4px;
  border-radius: 4px;
}

a {
  color: unset;
}

p {
  line-height: 1.4;
}

.nowrap {
  white-space: nowrap;
}

.Row {
  display: flex;
  align-items: center;
}

.Row.Half > * {
  width: 50%;
}

.Row.Half > *:not(:first-child) {
  margin-left: 2%;
}

.CesarLogo {
  color: transparent;
}

.Fausto404 {
  width: 75vw;
  max-width: calc(100vh - 180px);
}

.HideLink {
  text-decoration: none;
}

.Hover {
  transition: background-color 0.2s ease-out;
}

.Shadow {
  box-shadow: 0px 0px 21px #161616
}

.ThemeBackground {
  background-color: #1b4c31 !important;
  color: #fff;
  transition: background-color color 0.2s ease-out;
}

.ThemeColor {
  color: #1b4c31;
  transition: background-color color 0.2s ease-out;
}

/*dark theme*/
.Dark,
body.Dark .App .Button {
  background-color: #282c34;
  color: #fff;
}

.Dark .Hover:hover {
  background-color: #5b5c60;
}

.Dark .Contrast > .Hover:hover {
  background-color: #ccc;
}

.Contrast {
  color: #000;
}
