.LoginPage {
  padding: 10vh 0;
  height: calc(100% - 20vh);
}

.Login.Form {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  width: 200px;
  margin: auto;
  padding: 50px 30px 40px;
}

.Dark .Login.Form {
  border-color: transparent;
}

.LoginPage .Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}
