.Field {
  position: relative;
  font-size: 13px;
  margin-bottom: 26px;
  text-align: left;
}

.Field input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid transparent;
  height: 28px;
  padding: 3px;
  color: #d7d7d6;
}

.Field .Title {
  margin-bottom: 5px;
  display: block;
}

.Field .Error {
  margin: 0.3em 0;
  display: block;
  position: absolute;
}

/*dark theme*/
body.Dark .Field input {
  background-color: #494b54;
}
