.Field {
  font-size: 13px;
  margin-bottom: 20px;
  text-align: left;
}

.App.Dark .Field input {
  background-color: #494b54;
}

.Field input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid transparent;
  height: 28px;
  padding: 3px;
  color: #d7d7d6;
}

.Field .Title {
  margin-bottom: 5px;
  display: block;
}

.Field .Error {
  margin: 0.3em 0;
  display: block;
}
