.Field {
  position: relative;
  font-size: 13px;
  margin-bottom: 26px;
  text-align: left;
}

.Field textarea,
.Field select,
.Field input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid;
  border-color: transparent;
  height: 28px;
  padding: 3px 6px;
  background-color: #ddd;
}

.Field .Title {
  margin-bottom: 5px;
  display: block;
}

.Field .Error {
  margin: 0.3em 0;
  display: block;
  position: absolute;
  right: 0;
}

/*dark theme*/
body.Dark .Field textarea,
body.Dark .Field select,
body.Dark .Field input {
  background-color: #494b54;
  color: #d7d7d6;
}
