.Avatar {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
}

.Avatar .Username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  margin-left: auto;
  padding-right: 10px;
}

.Avatar .UserPhoto {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  word-break: break-word;
  overflow: hidden;
}
