.Field {
  margin-bottom: 20px;
  text-align: left;
}

.Field input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 24px;
  padding: 3px;
}

.Field .Title {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}
