.Header {
  text-align: left;
  padding: 10px 20px;
  height: 48px;
  display: flex;
}

.Header > * {
  margin-left: 15px;
}

.Header .BreadcumbTitle,
.Header .Username {
  line-height: 48px;
  font-size: 15px;
}

.Header .BreadcumbTitle {
  width: 60%;
}

.Header .Username {
  width: calc(40% - 48px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.Header .UserPhoto {
  height: 48px;
  border-radius: 100%;
}
