.Header {
  z-index: 1;
  display: flex;
  position: relative;
  padding: 10px 20px;
  text-align: left;
  box-shadow: 0px 0px 15px #161616;
}

.Header > * {
  margin-left: 15px;
}

.Header .BreadcumbTitle,
.Header .Username {
  line-height: 48px;
  font-size: 15px;
}

.Header .BreadcumbTitle {
  width: 100%;
}

.Header .Logo {
  margin-left: 0;
  font-size: 18px;
  letter-spacing: 2.5px;
}

.Header .Logo a {
  height: 100%;
  padding: 0 20px;
  display: inline-flex;
  align-items: center;
}

.Header .Logo img {
  padding: 0px 5px;
}
