.Header {
  text-align: left;
  padding: 10px 20px;
  height: 48px;
  display: flex;
  border-bottom: 1px solid transparent;
}

.Header > * {
  margin-left: 10px;
}

.Header .BreadcumbTitle,
.Header .Username {
  line-height: 48px;
}

.Header .BreadcumbTitle {
  width: 60%;
}

.Header .Username {
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.Header .UserPhoto {
  height: 48px;
  border-radius: 100%;
}
