.Sidebar {
  width: 250px;
  height: 100%;
  box-shadow: 0px 0px 15px 0px #161616;
  z-index: 0;
}

.Sidebar .NavigationList {
  padding: 0;
  margin: 0;
}

.Sidebar .NavigationList .NavigationItem {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 14px 10px 14px 20px;
  font-size: 13px;
}

.Sidebar .NavigationList .NavigationItem > *:not(:last-child) {
    padding-right: 15px;
}
