.SwitchTheme {
  line-height: 10px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 0;
  background-color: transparent;
}

.SwitchTheme:focus {
  outline: 0;
}

body.Dark .SwitchTheme {
  color: #fff;
}

body.Dark .SwitchTheme:hover {
  color: #000;
  background-color: #f6f6f6;
}

.SwitchTheme:hover {
  color: #fff;
  background-color: #555;
}
