.Table {
  border-spacing: 0;
  margin: 10px auto;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
}

.Table th {
  text-transform: capitalize;
}

.Table td,
.Table th {
  padding: 8px;
  text-align: left;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Table td {
  border-bottom: 1px solid #1b4c31;
  background-color: black;
  opacity: 0.9;
}

tbody tr:hover {
  filter: invert(1);
}

.EmptyObject {
  font-weight: bold;
  text-transform: lowercase;
}
