.Table {
  border-spacing: 0;
  margin: 10px auto;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
}

.Table th {
  text-transform: capitalize;
}

.Table td,
.Table th {
  padding: 8px;
  text-align: left;
}

.Table td {
  border-bottom: 1px solid #48201d;
}

.EmptyObject {
  font-weight: bold;
  text-transform: lowercase;
}
