#UiMsgWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}

.UiMsg {
  display: inline-flex;
  align-items: center;
  text-align: left;
  float: right;
  padding: 10px;
  min-width: 150px;
  width: 235px;
  border-radius: 6px;
  opacity: 0;
  animation: fadein-out 5.2s linear 0s infinite alternate;
}

@keyframes fadein-out {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.UiMsg span.Message {
  width: 100%;
}

.UiMsg .Icon {
  font-size: 14px;
}

.UiMsg.Error {
  background-color: red;
}

.UiMsg.Success {
    background: #0049ff;
}

.UiMsg.Warning {
    background: #a05c00;
}
