.Page {
  position: relative;
  height: 100%;
  width: 100%;
}

.PageWrapper {
  display: flex;
  height: calc(100% - 68px);
}

.MainContent {
  overflow: auto;
  transition: width 0.2s ease-out;
}

body.Mobile .PageWrapper.OpenSidebar .Sidebar {
  width: 100%;
}

.PageWrapper.OpenSidebar .Sidebar {
  width: 180px;
}

.PageWrapper.CloseSidebar .Sidebar {
  width: 64px;
}

.PageWrapper.OpenSidebar .MainContent {
  width: calc(100% - 180px);
}

body.Mobile .PageWrapper.OpenSidebar .MainContent {
  width: 0px;
}

.PageWrapper.CloseSidebar .MainContent {
  width: calc(100% - 64px);
}

.MainContent {
  /* background: linear-gradient(gray, gray), url("http://www.wannaplay.com.br/wp-content/uploads/2017/03/red-dead-redemption-2-rockstar-08.jpg"); */
  background: linear-gradient(gray, gray), url("https://i5.walmartimages.com/asr/f237ed84-a554-4833-950f-58985155b47f_1.ded9913c525b19548a54fc732412706f.jpeg");
  background-size: cover;
  background-blend-mode: saturation;
  width: 100%;
}

.Content {
  padding: 0 5vw 5vh;
  overflow-y: auto;
  height: 100%;
}

.ContentTitle {
  padding: 20px 0;
}

.ContentTitle .Title {
  width: 100%;
}

body:not(.Dark) .Form {
  background-color: #fff;
}

.Form {
  background-color: #282c34;
  padding: 20px;
  border-radius: 4px;
}
