.Page {
  height: 100%;
}

.PageWrapper {
    display: flex;
    height: calc(100% - 68px);
}

.MainContent {
  width: 100%;
}

.App.Dark .MainContent {
  background: #2f323b;
}

.Content {
  padding: 0 70px;
  overflow-y: auto;
  height: 100%;
}

.ContentTitle {
  padding: 20px 0;
}

.ContentTitle .Title {
  width: 100%;
}
