.LoginPage {
  margin: 10vh 0;
  height: 80vh;
}

.LoginPage main {
  padding: 8vh 0;
}

.Login.Title {
  padding: 20px 0;
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
}

.Login.Title img {
  padding: 0 10px;
}

body.Dark .App .Login.Form {
  background: #353b46;
}

.Login.Form {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 260px;
  margin: auto;
  padding: 50px 30px 40px;
}

.Dark .Login.Form {
  border-color: transparent;
}

.LoginPage .Footer {
  width: 100%;
  margin: 40px 0;
  position: absolute;
  bottom: 0;
}
